* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #444;
}

header {
    background-color: #466c5f;
    height: 150px;
}

header > h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    border: 2px solid blue;
}

.item {
    border: 3px solid pink;
    text-align: center;
}
/*
.boards {
    text-align: center;
    margin-top: 40px;
}

.board {
    background-color: #222;
    display: inline-block;
    width: 500px;
    height: 740px;
    margin: 0 40px;
}

.board > h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    color: #FFF;
    padding: 30px;
}

/* #f5697c ---- eraser 
/* #ffa703 ---- pencil