* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #444;
}

header {
    background-color: #466c5f;
    height: 150px;
}

header > h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

.boards {
    display: flex;
    justify-content: center;
}

.board {
    width: 600px;
    height: 600px;
    margin: 60px 40px;
    padding: 40px;
    background-color: #222;
}

.board > h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    color: #FFF;
    text-align: center;
}

.board > p {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    color: #FFF;
    margin-top: 60px;
    padding: 0 20px;
}

#front-result > p {
    text-align: center;
    font-size: 28px;
}

/* #f5697c ---- eraser 
/* #ffa703 ---- pencil